footer
{
    background-color:#353535;
    color: white;
    margin-bottom: 5%;
    height: 230px;

.white-logo
    {
    color: white;
    margin-left: 5%;
    margin-top: 5%;
    width: 31%;
    }   
.food
    {
    display: flex;
    align-items: center;
    margin-left: 5%;

    p
        {
    margin-left: 5%;
        }
    }
p
{
margin-left: 5%;
}    
}