footer
{
    background-color:#353535;
    color: white;
    margin-bottom: 5%;
    height: 230px;
    position: absolute;
    top:192%;

    .white-logo
    {
    color: white;
    margin-left: 5%;
    margin-top: 5%;
    width: 31%;

    @media all and (min-width: 992px) 
    {
        height: 20%;
    }
    }   
    .food
    {
    display: flex;
    align-items: center;
    margin-left: 5%;

        p
            {
        margin-left: 5%;
            }
        .fas
        {
            color: white;
            margin-top: 3%;
        }
    }
    p
    {
    margin-left: 5%;
    }    
}