footer
{
    background-color:#353535;
    color: white;
    height: 230px;
    @media all and (min-width: 992px) 
    {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    h3
    {
    color: white;
    margin-left: 5%;
    margin-top: 5%;
    width: 31%;
    font-family:'Shrikhand';
    font-weight: 400;
        @media all and (min-width: 992px) 
        {
            font-size: 3em;
        }  
    }
    .food
    {
    display: flex;
    align-items: center;
    margin-left: 5%;

        p
            {
        margin-left: 5%;
            }
        .fas
        {
            color: white;
            margin-top: 3%;
        }
    }
    p
    {
    margin-left: 5%;
        @media all and (min-width: 992px) 
        {
            margin-top: 7%
        }
    }    
}