body
{
    margin: 0%;
}
header
{
    display: flex;
    align-items: center;
    .logo
    {
        width: 50%;
        margin-left: 19%;
        padding-bottom: 10px;

        @media all and (min-width:992px) 
        {
                width: 25%;
                margin-left: 578px;
                padding-top: 25px;
                padding-bottom: 25px;
        }
        
    }
}

.fas
{
    color: #353535;
    padding-bottom: 10px;
    margin-left: 2%;


}

.french
{
    background-color: #f6f6f6;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: relative;
    width: 100%;
    margin-top: -13%;
    height: 1100px;
    margin-bottom: -17px;

    @media all and (min-width:992px) 
    {
            top: 77%;
            height: 600px;
            display: flex;
            flex-wrap: wrap;
    }

   
    .french__title
    {
        display: flex;
        justify-items: center;
        position: relative;
        font-family: "Shrikhand";
        margin-left: 7%;

        @media all and (min-width:992px) 
        {
               width: 93%;
        }

        

        .far
        {
            position: absolute;
            left: 80%;
            top: 24%;
            font-size: 2em;
            @media all and (min-width:992px) 
            {
                top: 5%;  
            }
        }
    }
    
    .menu
    {
            @media all and (min-width:992px) 
        {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                margin-top: -15%;
        }

    }

    .entered
    {
        @media all and  (min-width: 992px)
        {
               
            margin-left : 5%;
            width: 25%;
        }  
    }

    .title
    {
        border-bottom: 2px solid #99e2d0;
        width: 20%;
        margin-left:21px;
        @media all and  (min-width: 992px)
            {
                width: 27%;
                margin-left : 5%;
            }  
        
    }
    .box__dishes
    {
        width: 12.5%;
    }

    .box__desserts
    {
        width: 21.5%;
    }

    .dishes
    {
        @media all and  (min-width: 992px)
            {
                width: 27%;
                margin-left : 5%;
            }  
    } 
    .Desserts
    {
        @media all and  (min-width: 992px)
            {
                width: 27%;
                margin-left : 5%;
            }   
    }   

    h2
    {
        text-transform: uppercase;
        font-size: 1em;
        margin-left: 5%;
        font-family: "Roboto";
        margin-bottom: 2px;
        font-weight: 300;
    }


    .french__descpription
    {
        background-color: white;
        width: 90%;
        margin-left: 5%;
        border-radius: 20px;
        position: relative;
        font-family: "Roboto";
        overflow: hidden;
        margin: 15px 0px 15px 17px;

        h3
        {
            margin-left: 4%; 
            font-size: 0.9em;
            padding-bottom: 10px; 
            width: 290px;
        }

        .french__price
        {
            display: flex;
            margin-left: 4%;
            margin-top: -10%;
            font-size: 0.9em;

            p
            {
                width: 290px;
            
            }

            .price
            {
                position: absolute;
                top: 33%;
                left: 85%;
                        
            }

            .fas
            {
                position: absolute;
                top: 0%;
                right: -46px;
                font-size: 2em;
                color: white;
                padding-top: 20px;
                text-align: center;
                z-index: 2;
            }
       
            .background__checkbox
            {
                background: #99e2d0;
                height: 70px;
                width: 59px;
                position: absolute;
                top: 0;
                right: -60px;
            }

            &:active
            {
                h3
                    {
                        transition: all 500ms linear;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        width: 220px;
                        white-space: nowrap;
                    }
                    
                .fas 
                    {
                        transition: all 500ms linear;
                        right: 15px;   
                        transform: rotate(360deg);     
                    } 
                
                    .background__checkbox
                    {
                        transition: all 500ms linear;
                        right: 0px;
                    }
                
                    p
                    {
                        transition: all 500ms linear;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        width: 220px;
                        white-space: nowrap;
                    } 
                
                .price
                    {
                        transition: all 500ms linear;
                        left: 70%;
                    }  
                
            }
        }    
    }    
  
    .fade_1
    {
        animation:fade-in 1s;
        @keyframes fade-in
        {
            0%
            {
                transform: scale(0,1);
                
            }
            100%
            {
                transform: scale(1);
            }
        }    
    }
    .fade_2
    {
        animation:fade-in 1.3s;
        @keyframes fade-in
        {
            0%
            {
                transform: scale(0,1);
                opacity: 0;
            }
            100%
            {
                transform: scale(1);

                opacity: 1;
            }
        }    
    }

    .fade_3
    {
        animation:fade-in 1.5s;
        @keyframes fade-in
        {
            0%
            {
                transform: scale(0,1);
            }
            100%
            {
                transform: scale(1);
            }
        }    
    }
    .fade_4
    {
        animation:fade-in 2s;
        @keyframes fade-in
        {
            0%
            {
                transform: scale(0,1);
            }
            100%
            {
                transform: scale(1);
            }
        }    
    }
    .fade_5
    {
        animation:fade-in 2.5s;
        @keyframes fade-in
        {
            0%
            {
                transform: scale(0,1);
            }
            100%
            {
                transform: scale(1);
            }
        }    
    }
    .fade_6
    {
        animation:fade-in 3s;
        @keyframes fade-in
        {
            0%
            {
                transform: scale(0,1);
            }
            100%
            {
                transform: scale(1);
            }
        }    
    }
    .fade_7
    {
        animation:fade-in 3.5s;
        @keyframes fade-in
        {
            0%
            {
                transform: scale(0,1);
            }
            100%
            {
                transform: scale(1);
            }
        }    
    }
    .fade_8
    {
        animation:fade-in 4s;
        @keyframes fade-in
        {
            0%
            {
                transform: scale(0,1);
            }
            100%
            {
                transform: scale(1);
            }
        }    
    }
    .fade_9
    {
        animation:fade-in 4.5s;
        @keyframes fade-in
        {
            0%
            {
                transform: scale(0,1);
            }
            100%
            {
                transform: scale(1);
            }
        }    
    }
    .fade_10
    {
        animation:fade-in 5s;
        @keyframes fade-in
        {
            0%
            {
                transform: scale(0);
            }
            100%
            {
                transform: scale(1);
            }
        }    
    }
    .fade_11
    {
        animation:fade-in 5.5s;
        @keyframes fade-in
        {
            0%
            {
                transform: scale(0,1);
            }
            100%
            {
                transform: scale(1);
            }
        }    
    }
}    
        

a
{
    background: linear-gradient( -6deg, #9356DC, #FF79DA);
    color: white;
    text-decoration: none;
    border-radius: 50px;
    padding: 18px 37px;
    position: absolute;
    left: 100px;
    margin-top: 7%;
    font-family: 'Roboto';

    @media all and  (min-width: 992px)
    {
        margin-left: 50%;
        margin-left: 33%;
        font-size: 2em;
        top: 348px;
    }   
}