body {
  margin: 0%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  width: 50%;
  margin-left: 19%;
  padding-bottom: 10px;
  padding-top: 10px;
}

@media all and (min-width: 992px) {
  header .logo {
    width: 25%;
    margin-left: 578px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.fas {
  color: #353535;
  padding-bottom: 10px;
  margin-left: 2%;
}

.french {
  background-color: #f6f6f6;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  width: 100%;
  margin-top: -13%;
  height: 1260px;
  margin-bottom: -17px;
}

@media all and (min-width: 992px) {
  .french {
    top: 77%;
    height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.french .french__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  position: relative;
  font-family: "Shrikhand";
  margin-left: 7%;
}

@media all and (min-width: 992px) {
  .french .french__title {
    width: 93%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.french .french__title h1 {
  width: 100%;
  font-size: 1em;
}

@media all and (min-width: 992px) {
  .french .french__title h1 {
    width: 100%;
    font-size: 1.5em;
  }
}

.french .french__title .empty {
  margin-top: 2%;
}

.french .french__title .full {
  position: absolute;
  left: 73%;
  top: 3px;
  font-size: 2.2em;
}

@media all and (min-width: 992px) {
  .french .french__title .full {
    position: absolute;
    left: 1128px;
    top: 9px;
    font-size: 2.2em;
  }
}

.french .french__title .color {
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

.french .french__title .color:hover {
  opacity: 1;
}

.french .french__title .fas {
  color: transparent;
}

.french .french__title .far {
  position: absolute;
  left: 74%;
  top: 18.7%;
  font-size: 2em;
}

@media all and (min-width: 992px) {
  .french .french__title .far {
    left: 80%;
    top: 5.7%;
  }
}

@media all and (min-width: 992px) {
  .french .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin-top: -15%;
  }
}

@media all and (min-width: 992px) {
  .french .entered {
    margin-left: 5%;
    width: 25%;
  }
}

.french .title {
  border-bottom: 2px solid #99e2d0;
  width: 20%;
  margin-left: 21px;
}

@media all and (min-width: 992px) {
  .french .title {
    width: 27%;
    margin-left: 5%;
  }
}

.french .box__dishes {
  width: 12.5%;
}

.french .box__desserts {
  width: 21.5%;
}

@media all and (min-width: 992px) {
  .french .dishes {
    width: 27%;
    margin-left: 5%;
  }
}

@media all and (min-width: 992px) {
  .french .Desserts {
    width: 27%;
    margin-left: 5%;
  }
}

.french h2 {
  text-transform: uppercase;
  font-size: 1em;
  margin-left: 5%;
  font-family: "Roboto";
  margin-bottom: 2px;
  font-weight: 300;
}

.french .french__descpription {
  background-color: white;
  width: 90%;
  margin-left: 5%;
  border-radius: 20px;
  position: relative;
  font-family: "Roboto";
  overflow: hidden;
  margin: 15px 0px 15px 17px;
  -webkit-box-shadow: 0 5px 15px 0 #c3c3c3;
          box-shadow: 0 5px 15px 0 #c3c3c3;
  cursor: pointer;
}

.french .french__descpription h3 {
  margin-left: 4%;
  font-size: 0.9em;
  padding-bottom: 10px;
  width: 290px;
}

.french .french__descpription .french__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 4%;
  margin-top: -10%;
  font-size: 0.9em;
}

.french .french__descpription .french__price p {
  width: 200px;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media all and (min-width: 992px) {
  .french .french__descpription .french__price p {
    width: 290px;
  }
}

.french .french__descpription .french__price .price {
  position: absolute;
  top: 33%;
  left: 85%;
}

.french .french__descpription .french__price .fas {
  position: absolute;
  top: 0%;
  right: -46px;
  font-size: 2em;
  color: white;
  padding-top: 20px;
  text-align: center;
  z-index: 2;
}

.french .french__descpription .french__price .background__checkbox {
  background: #99e2d0;
  height: 80px;
  width: 59px;
  position: absolute;
  top: 0;
  right: -60px;
}

.french .french__descpription:hover {
  -webkit-box-shadow: 0 5px 15px 0 #a5a5a5;
          box-shadow: 0 5px 15px 0 #a5a5a5;
}

.french .french__descpription:hover h3 {
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 220px;
  white-space: nowrap;
}

.french .french__descpription:hover .fas {
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  right: 15px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.french .french__descpription:hover .background__checkbox {
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  right: 0px;
}

.french .french__descpription:hover p {
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 150px;
  white-space: nowrap;
}

@media all and (min-width: 992px) {
  .french .french__descpription:hover p {
    -webkit-transition: all 500ms linear;
    transition: all 500ms linear;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 220px;
    white-space: nowrap;
  }
}

.french .french__descpription:hover .price {
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  left: 70%;
}

.french .fade_1 {
  -webkit-animation: fade-in 1s;
          animation: fade-in 1s;
}

@-webkit-keyframes fade-in {
  0% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fade-in {
  0% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.french .fade_2 {
  -webkit-animation: fade-in 1.3s;
          animation: fade-in 1.3s;
}

@keyframes fade-in {
  0% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.french .fade_3 {
  -webkit-animation: fade-in 1.5s;
          animation: fade-in 1.5s;
}

@keyframes fade-in {
  0% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.french .fade_4 {
  -webkit-animation: fade-in 2s;
          animation: fade-in 2s;
}

@keyframes fade-in {
  0% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.french .fade_5 {
  -webkit-animation: fade-in 2.5s;
          animation: fade-in 2.5s;
}

@keyframes fade-in {
  0% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.french .fade_6 {
  -webkit-animation: fade-in 3s;
          animation: fade-in 3s;
}

@keyframes fade-in {
  0% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.french .fade_7 {
  -webkit-animation: fade-in 3.5s;
          animation: fade-in 3.5s;
}

@keyframes fade-in {
  0% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.french .fade_8 {
  -webkit-animation: fade-in 4s;
          animation: fade-in 4s;
}

@keyframes fade-in {
  0% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.french .fade_9 {
  -webkit-animation: fade-in 4.5s;
          animation: fade-in 4.5s;
}

@keyframes fade-in {
  0% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.french .fade_10 {
  -webkit-animation: fade-in 5s;
          animation: fade-in 5s;
}

@keyframes fade-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.french .fade_11 {
  -webkit-animation: fade-in 5.5s;
          animation: fade-in 5.5s;
}

@keyframes fade-in {
  0% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

a {
  background: linear-gradient(-6deg, #9356DC, #FF79DA);
  color: white;
  text-decoration: none;
  border-radius: 50px;
  padding: 18px 37px;
  position: absolute;
  left: 73px;
  margin-top: 7%;
  font-family: 'Roboto';
}

@media all and (min-width: 992px) {
  a {
    margin-left: 50%;
    margin-left: 33%;
    font-size: 2em;
    top: 348px;
    left: 100px;
  }
}

.img-menu {
  background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
}

@media all and (min-width: 900px) {
  .img-menu {
    height: 500px;
  }
}

footer {
  background-color: #353535;
  color: white;
  height: 230px;
  padding-bottom: 28px;
}

@media all and (min-width: 992px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
}

footer h3 {
  color: white;
  margin-left: 5%;
  margin-top: 5%;
  width: 31%;
  font-family: 'Shrikhand';
  font-weight: 400;
}

@media all and (min-width: 992px) {
  footer h3 {
    font-size: 3em;
  }
}

footer .food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5%;
  margin-bottom: -19px;
}

footer .food p {
  margin-left: 5%;
}

footer .food .fas {
  color: white;
  margin-top: 3%;
}

footer p {
  margin-left: 5%;
}

@media all and (min-width: 992px) {
  footer p {
    margin-top: 7%;
  }
}
/*# sourceMappingURL=menu-1.css.map */