@import 'menu-commun';

.img-menu
{
    background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 249px;
    position: relative;
    @media all and (min-width:900px) 
    {
            height: 500px;
    }

}

@import 'footer';