body {
  margin: 5% 0%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  width: 50%;
  margin-left: 19%;
  padding-bottom: 10px;
}

@media all and (min-width: 992px) {
  header .logo {
    width: 25%;
    margin-left: 578px;
  }
}

.fas {
  color: #353535;
  padding-bottom: 10px;
  margin-left: 2%;
}

.french {
  background-color: #f6f6f6;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  height: 1000px;
  position: absolute;
  top: 40%;
  width: 100%;
}

@media all and (min-width: 992px) {
  .french {
    top: 77%;
    height: 600px;
  }
}

.french .french__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  position: relative;
  font-family: "Shrikhand";
  margin-left: 7%;
}

@media all and (min-width: 992px) {
  .french .french__title {
    width: 100%;
  }
}

.french .french__title .far {
  position: absolute;
  left: 80%;
  top: 24%;
  font-size: 2em;
}

@media all and (min-width: 992px) {
  .french .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media all and (min-width: 992px) {
  .french .entered {
    width: 25%;
    margin-left: 5%;
  }
}

@media all and (min-width: 992px) {
  .french .dishes {
    width: 25%;
    margin-left: 5%;
  }
}

@media all and (min-width: 992px) {
  .french .Desserts {
    width: 25%;
    margin-left: 5%;
  }
}

.french h2 {
  text-transform: uppercase;
  font-size: 1em;
  margin-left: 5%;
  -webkit-text-decoration: underline #99e2d0;
          text-decoration: underline #99e2d0;
  font-family: "Roboto";
}

.french .french__descpription {
  background-color: white;
  width: 90%;
  margin-left: 5%;
  border-radius: 20px;
  position: relative;
  font-family: "Roboto";
}

.french .french__descpription h3 {
  margin-left: 4%;
  padding-top: 3%;
  font-size: 0.9em;
  padding-bottom: 10px;
}

.french .french__descpription .french__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 4%;
  margin-top: -10%;
  font-size: 0.9em;
}

.french .french__descpription .price {
  position: absolute;
  top: 10%;
  left: 85%;
}

.french a {
  background: linear-gradient(-6deg, #9356DC, #FF79DA);
  color: white;
  text-decoration: none;
  border-radius: 50px;
  padding: 18px 37px;
  position: absolute;
  left: 115px;
  margin-top: 7%;
}

@media all and (min-width: 992px) {
  .french a {
    margin-left: 50%;
    margin-left: 33%;
    font-size: 2em;
  }
}

.img-menu {
  background-image: url(/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 249px;
  position: relative;
}

@media all and (min-width: 900px) {
  .img-menu {
    height: 500px;
  }
}

footer {
  background-color: #353535;
  color: white;
  margin-bottom: 5%;
  height: 230px;
  position: absolute;
  top: 192%;
}

footer .white-logo {
  color: white;
  margin-left: 5%;
  margin-top: 5%;
  width: 31%;
}

@media all and (min-width: 992px) {
  footer .white-logo {
    height: 20%;
  }
}

footer .food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5%;
}

footer .food p {
  margin-left: 5%;
}

footer .food .fas {
  color: white;
  margin-top: 3%;
}

footer p {
  margin-left: 5%;
}
/*# sourceMappingURL=menu-1.css.map */