body {
  margin: 0%;
  font-family: "Roboto";
}

.logo {
  margin-left: 24%;
  margin-top: 3%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media all and (min-width: 900px) {
  .logo {
    width: 25%;
    margin-left: 578px;
  }
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  margin-top: 1%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eaeaea;
  width: auto;
  -webkit-box-shadow: 0px 8px 7px -5px inset #d5d5d5;
          box-shadow: 0px 8px 7px -5px inset #d5d5d5;
}

.localisation .fas {
  margin-left: -11%;
  margin-right: 3%;
}

@media all and (min-width: 992px) {
  .localisation .fas {
    margin-left: 0%;
  }
}

.localisation p {
  margin-left: 2%;
  font-family: "Roboto";
  font-weight: 800;
}

@media all and (min-width: 992px) {
  .localisation p {
    margin-left: -2%;
  }
}

.reservation {
  background-color: #f6f6f6;
  padding: 10px 35px 0 35px;
  position: relative;
  height: 220px;
}

.reservation h1 {
  font-size: 1.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.reservation p {
  color: #7d7d7d;
  text-align: center;
  font-size: 1em;
}

.reservation a {
  background: linear-gradient(-6deg, #9356DC, #FF79DA);
  color: white;
  text-decoration: none;
  border-radius: 50px;
  padding: 18px 37px;
  position: absolute;
  left: 65px;
}

@media all and (min-width: 992px) {
  .reservation a {
    left: 650px;
  }
}

.operation {
  margin: 10%;
}

@media all and (min-width: 992px) {
  .operation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0% 0% -7% 0%;
  }
}

@media all and (min-width: 992px) {
  .operation h2 {
    width: 100%;
    text-align: center;
    margin: 0%;
    padding: 2% 0% 2% 0%;
  }
}

.operation .operation__btn {
  background: #f6f6f6;
  height: 50px;
  position: relative;
  text-decoration: none;
  display: block;
  margin-bottom: 10%;
  margin-left: 5%;
  border-radius: 15px;
  -webkit-box-shadow: 0px 13px 7px -5px #d5d5d5;
          box-shadow: 0px 13px 7px -5px #d5d5d5;
}

.operation .operation__btn:hover {
  background-color: #f5edff;
  -webkit-box-shadow: 0px 13px 7px -5px #9356dc;
          box-shadow: 0px 13px 7px -5px #9356dc;
}

@media all and (min-width: 992px) {
  .operation .operation__btn {
    width: 20%;
    margin-left: 10%;
  }
}

.operation .operation__number {
  background-color: #9356DC;
  color: white;
  position: absolute;
  top: 32%;
  left: -3%;
  display: block;
  width: 9%;
  height: 52%;
  border-radius: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.operation .number {
  position: absolute;
  left: 32%;
  top: -44%;
}

.operation .operation__word {
  margin-left: 10%;
  padding-top: 5.9%;
  color: black;
}

.operation .fas {
  color: #7d7d7d;
  margin-right: 4%;
  margin-left: 4%;
}

.restaurant {
  background-color: #f6f6f6;
  height: 1102px;
}

@media all and (min-width: 992px) {
  .restaurant {
    height: 400px;
  }
}

@media all and (min-width: 992px) {
  .restaurant .restaurant__choice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
}

.restaurant h2 {
  margin-left: 6%;
  padding-top: 7%;
}

@media all and (min-width: 992px) {
  .restaurant h2 {
    width: 100%;
    padding-top: 3%;
    text-align: center;
    margin: 0%;
  }
}

@media all and (min-width: 992px) {
  .restaurant .restaurant__card {
    width: 25%;
    padding-top: 2%;
  }
}

.restaurant .background {
  height: 180px;
  margin: 5%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
}

.restaurant .img {
  background-image: url(/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.restaurant .img-1 {
  background-image: url(/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.restaurant .img-2 {
  background-image: url(/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.restaurant .img-3 {
  background-image: url(/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.restaurant .background__description {
  background-color: white;
  -webkit-box-shadow: 0px 13px 7px -5px #d5d5d5;
          box-shadow: 0px 13px 7px -5px #d5d5d5;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: -10% 5% 5% 5%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-decoration: none;
  color: black;
}

.restaurant .background__description h3 {
  position: absolute;
  top: -7%;
  font-size: 1em;
  margin-left: 6%;
}

.restaurant .background__description p {
  margin-top: 11%;
  padding-left: 6%;
  text-decoration: none;
}

.restaurant .background__description .heart {
  position: absolute;
  left: 83%;
  top: 19%;
  font-size: 2em;
}

.restaurant .background__description .empty:active {
  opacity: 0;
}

.restaurant .background__description .full {
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

.restaurant .background__description .full:active {
  opacity: 1;
}

.restaurant .new {
  background-color: #99e2d0;
  color: #008766;
  position: absolute;
  left: 66%;
  top: 7%;
  width: 20%;
  padding: 10px;
  font-weight: 800px;
}

footer {
  background-color: #353535;
  color: white;
  height: 230px;
}

@media all and (min-width: 992px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
}

footer h3 {
  color: white;
  margin-left: 5%;
  margin-top: 5%;
  width: 31%;
  font-family: 'Shrikhand';
  font-weight: 400;
}

@media all and (min-width: 992px) {
  footer h3 {
    font-size: 3em;
  }
}

footer .food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5%;
}

footer .food p {
  margin-left: 5%;
}

footer .food .fas {
  color: white;
  margin-top: 3%;
}

footer p {
  margin-left: 5%;
}

@media all and (min-width: 992px) {
  footer p {
    margin-top: 7%;
  }
}

footer {
  position: relative;
  top: -17px;
  padding-bottom: 10px;
  margin-bottom: 0%;
}

footer h3 {
  padding-top: 10px;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  background: black;
  z-index: 1;
  top: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  -webkit-animation: loader-spinner ease-in-out;
          animation: loader-spinner ease-in-out;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.loader .lettre {
  color: white;
  font-size: 50px;
  letter-spacing: 10px;
  margin-bottom: 150px;
  -webkit-animation: flash 1s linear infinite;
          animation: flash 1s linear infinite;
}

@-webkit-keyframes flash {
  0% {
    color: #fff900;
    text-shadow: 0px 0px 7px #fff900;
  }
  90% {
    color: white;
    text-shadow: none;
  }
  100% {
    color: #fff900;
    text-shadow: 0px 0px 7px #fff900;
  }
}

@keyframes flash {
  0% {
    color: #fff900;
    text-shadow: 0px 0px 7px #fff900;
  }
  90% {
    color: white;
    text-shadow: none;
  }
  100% {
    color: #fff900;
    text-shadow: 0px 0px 7px #fff900;
  }
}

@-webkit-keyframes loader-spinner {
  0%, 99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loader-spinner {
  0%, 99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.lettre:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.lettre:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.lettre:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.lettre:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.lettre:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.lettre:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.lettre:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
/*# sourceMappingURL=style.css.map */